body {
  background: url('./../images/zoo.jpg') norepeat;
  background-color: #D8F793;
  font-size: 1em;
  font-family: sans-serif;
}

.container {
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
}

h1 {
  
}


ul {
  list-style: none;
}
